<!DOCTYPE html>
<html lang="en">
	<head>
		<title>USAToday News Source</title>
		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>
