<div id="wrapper">

	<h1>Your News, Now</h1>

	<div id="results">
		<table id="stories">
			<tr>
				<th>Title</th>
				<th>Story</th>
			</tr>
		</table>
	</div>
</div>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="app.js"></script>